.black-button {
    background-color: black !important;
    color: white !important;
    border: none !important;
}

.black-button:hover {
    background-color: #333 !important;
    color: white !important;
}