.filters-container{
    background: unset;
    background-color: unset;
    display: flex;
    gap: 2rem;
    padding-left: unset;
}

.tabset-header{
    display: flex;
    flex-direction: column;
}
.custom-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filters-container .title{
    font-size: 24px;
    font-weight: bold;
}
.tabset-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;

}
.title-container{
    display: flex;
    flex-direction: column;
}

.main-title{
    color: #3C3C3C;
    font-weight: bold;
    font-size: 20px;
}
.sub-title{
    color: #3C3C3C;
    font-size: 16px;
}

.sub-title span{
    font-weight: bold;
    font-size: 16px;
    
}

.info-label{
    font-weight: bold;
}

.overview-container{
    background-color:#FFFFFF;
    border-radius: 12px;
    margin-top: 20px;
    padding: 24px;
    
    margin-bottom: 40px;
    box-shadow: 0px 5px 10px #00000026;
 

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}
.lef-side,.middle-side,.right-side{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-basis: 30%;
    flex-wrap: wrap;

}

.payment-plan-name-section .right-side,
.payment-plan-name-section .left-side{
flex-basis: 48%;
}

.section-title{
 
    height: 20px;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #3C3C3C;
    opacity: 1;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
}
.payment-plan-name-section{
    display: flex;
 flex-wrap: wrap;
 flex-grow: 1;
    gap: 1rem;
    justify-content: space-between;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
   flex-wrap: wrap; 
    box-shadow: 0px 5px 10px #00000026;
border: 1px solid #B9B9B9;
flex-basis: 45%;
padding: 1rem;
border-radius: 0.75rem;
}
@media screen and  (max-width:961px) {

    .steper-container{
        flex-direction: column !important;
    }
    .custom-row{
        flex-direction: column;
    }
}