.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 48px;
}

.left-side{
    margin-right: 24px;
}
.left-side,.right-side{
    flex-basis: 50%;
}

.fixed-button-width {
    min-width: 150px;
}

.bold {
    font-weight: bold;
  }

  .mybtn {
    padding: .75rem 1rem;
    margin-top: .75rem;
    text-align: center;
    font-size: .7rem;
    border-top: 1px solid rgb(221, 219, 218);
    margin-bottom: 10px;
  }

@media only screen and (max-width: 1700px) {
    .upload-main-container{
      flex-direction: column;
    }
  }