.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 9000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slds-spinner_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slds-spinner-text {
    position: absolute;
    top: calc(50% + 2rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}