.slds-table_bordered td{
    padding: 10px;
}
.slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-has-focus){
    box-shadow: none;
}
.slds-table_bordered{
    border: 0px;
}
.outer-div {
    position: relative;
}

.customSpinner {
   position: absolute;
}

.btndiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}
.table-responsive {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 1rem;
    min-height: 50px;
    max-height: 60vh;
    overflow: auto;
}
.table-responsive table tr th {
    position: sticky;
    top: -1px;
    z-index: 2;
    background: #f3f3f3;
    padding: 1rem .5rem;
    font-size: 14px;
    font-weight: 600;
}
.table-responsive table tr .slds-form-element__label:empty {
    display: none;
}
.btnicons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}