.metrics-container {
    background-color: #2b6faa;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -1rem;
    padding-top: 0;
}


.group-label-line {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0rem;
}

.account-name-line {
    font-weight: 600;
    font-size: 1.5rem;
     margin-top: 0rem;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metric-detail-two-column {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: white;
    flex-wrap: wrap;
}

.metric-detail {
    flex: 1;
    min-width: 200px;
}

.metric-detail p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
}

.title {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.group-label {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    fill: #ffffff !important;
    color: #ffffff !important;
}

.metric-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.metric-card {
    border-top: 1px solid #ffffff44;
    padding-top: 1rem;
}

.metric-number {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.metric-label {
    font-size: 1rem;
    margin-top: 0.25rem;
    font-weight: 600;
}

.metric-detail p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
}

.brand-logos {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

.brand-tile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

lightning-icon.icon-white {
    --slds-c-icon-color-foreground: white;
    --slds-c-icon-color-background: transparent;
}


lightning-button {
    margin-top: 0.5rem;
    --slds-c-button-text-color: white;
    --slds-c-button-color-background: transparent;
    --slds-c-button-text-color-hover: white;
    --slds-c-button-text-color-active: white;
}

lightning-card {
    margin: 0;
    padding: 0;
}