.w3-opacity, .w3-hover-opacity:hover{
    opacity: 1 !important;
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
}

 .prev,.next{
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.next-container, .prev-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1 !important;
    border-radius: 50%;
    padding: 10px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.prev-next-container{
    display: flex;
    align-items: center;
}

.slds-text-heading_medium.slds-hyphenate{
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: bold;
}


.prev-next-container:last-child
{
    padding-right: 0;
    padding-left: 0;
}
.sliderImage{
    border-radius: 8px !important;
    margin: 0 auto !important;
    height: 360px!important;
    width: auto;
}
.w3-row-padding.w3-section.prev-next-container {
    margin-top: 10px!important;
    position: absolute;
}
.demo.w3-opacity.w3-white{
    border-radius: 8px !important;
}

.modal-header{
    border:none !important;
}
.modal-body{
    background:#fff !important
}
.w3-opacity{
    border-radius: 8px !important;
        opacity: 0.6 !important;
}
.w3-white{
    border:1.5px solid #000 !important;
    opacity: 1 !important;
}
.w3-col.s4 {
    height: 100px;
    overflow: hidden;
}

@media only screen and (max-width:768px) {
.w3-col.s4 {
    height: 50px!important;
    width: 100%!important;
    padding: 0 5px!important;
}
}