.page-main-container{
display: flex;
flex-direction: column;
background-color: #F5F5F5;
}

.overview-container{
background-color:#FFFFFF;
border-radius: 12px;
margin-top: 40px;
padding: 24px;

}

.row{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 16px;
}
.lef-side,.middle-side,.right-side{
display: flex;
flex-direction: row;
width: 100%;
flex-basis: 30%;

}

.info-lable{
text-align: left;
letter-spacing: 0px;
color: #3C3C3C;
opacity: 0.7;
font-size: 14px;

max-width: 145px;
word-break: break-all;
flex-basis: 50%;;
}

.info-value{
text-align: left;

letter-spacing: 0px;
color: #3C3C3C;
opacity: 1;
font-size: 14px;
max-width: 240px;
word-break: break-all;
flex-basis: 50%;
font-weight: bold;
}

.section-title{
font-weight: bold;
width: 89px;
height: 20px;
/* UI Properties */
text-align: left;
letter-spacing: 0px;
color: #3C3C3C;
opacity: 1;
font-size: 20px;
margin-bottom: 16px;
}


.leads-list-header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
height: 48px;
margin-bottom: 24px;
margin-top: 24px;
}
.list-title{
font-weight: bold;
font-size: 20px;
}


.add-lead-btn{
min-height: 40px;
min-width: 180px;
align-items: center;
}
.row.more_details p.info-lable {
font-size: 12px!important;
}
.maincontainer{
margin: 0 40px;
}
@media(max-width:1707px){
.leads-list-header{
margin:15px 0;
}
.row.more_details p.info-lable, .row.more_details p.info-value {
font-size: 12px!important;
}
.overview-container .section-title {
font-size: 16px!important;
}
}
@media only screen and (max-width:767px) {
.maincontainer{
margin: 0 1rem;
}
.overview-container{
border-radius: 8px;
margin-top: 1rem;
padding: 1rem;
}
.row{
flex-wrap: wrap;
margin-bottom: 0px;
}
.lef-side, .middle-side, .right-side {
display: flex;
flex-direction: row;
width: 100%;
flex-basis: 100%;
}
.row.more_details p.info-lable, .row.more_details p.info-value {
font-size: 12px!important;
width: 50%;
flex-basis: 50%;
max-width: 50%;
padding: 0.5rem 0;
}
}