.aldar-card {
    padding: 0.5rem;
    min-height: unset;
}

.footer-item {
    align-items: center !important;
}

.footer-item .footer-item-value {
    margin-top: 9.5px !important;
}

.info-side {
    cursor: pointer;
    justify-content: unset;
}

.info-body {
    font-size: 1rem;
    max-height: 7.5rem;
}

/* .info-footer{
    margin-top: auto;
} */

.select-by-month {
    width: 12.375rem;
}

.select-by-year {
    width: 11.25rem;
}

.search {
    width: 17.625rem
}

.select-by-month {
    margin-right: unset;
    /* margin-right: 2.5rem; */
}



.gallery-container.gallery_maindiv {
    column-gap: 3.5rem;
    width: calc(100% - 0rem) !important;
    margin: 4rem 0 0 1rem;
}

.gallery-container.gallery_maindiv .aldar-card {
    padding: 0.5rem;
    width: calc(100% - 5px) !important;
    flex-wrap: wrap;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    min-height: 220px !important;
    max-height: 220px !important;
    margin-bottom: 3rem;
    max-width: 47%;
    align-items: center;
}

.gallery-container.gallery_maindiv .aldar-card .image-side {
    margin-left: -2rem;
    margin-top: -2rem;
    max-width: 40% !important;
    min-width: 40% !important;
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    width: 100%;
    background-position: top;
    /*min-height: 275px !important;*/
    height: auto;
    position: relative;
    border-radius:5px 5px 0 0; 
    /*border-radius: 50px 50px 0 0;
    background-size: 100%;*/
}

.gallery-container.gallery_maindiv .info-side {
    cursor: pointer;
    justify-content: unset;
    width: 60%;
    display: block;
    padding: 0 1rem;
}

@media only screen and (max-width:992px) {
    .gallery-container.gallery_maindiv {
        column-gap: 1rem;
        width: calc(100% - 0rem) !important;
        margin: 0rem 0 3rem 0rem;
    }

    .gallery-container.gallery_maindiv .aldar-card {
        width: 100% !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
        margin-bottom: 1rem;
    }

    .gallery-container.gallery_maindiv .image-side {
        margin: 0 !important;
        border-radius: 0px !important;
    }
    .gallery-container.gallery_maindiv .aldar-card {
        border-radius:5px 5px 0px 0px !important;
    }
    .gallery-container.gallery_maindiv .aldar-card {
        overflow: hidden;
        justify-content: center;
        padding: 0;
    }

    .gallery-container.gallery_maindiv .info-side {
        display: flex;
        padding: 0 1rem;
        justify-content: center;
        height: 100%;
    }
}

@media only screen and (max-width:480px) {
    .gallery-container.gallery_maindiv .aldar-card {
        margin-bottom: 1rem;
        min-height: fit-content !important;
        max-height: fit-content !important;
        display: flex;
        flex-wrap: initial;
    }

    .gallery-container.gallery_maindiv .aldar-card .image-side {
        max-width: 100% !important;
    }

    .gallery-container.gallery_maindiv .info-side {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
}