.page-container {
    margin-top: 2.5rem;
}

.cards-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.gp-card {
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: calc(33.75% - 1rem) !important;
    border-radius: 12px;
    box-shadow: 0px 5px 15px #0000001A;
}

.gp-card .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;

    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 1.5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-title {
    color: #3C3C3C;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-date {
    font-size: 1rem;
    color: #3C3C3C;
    opacity: 0.75;
}

.card-subtitle {
    font-size: 1rem;
    word-break: break-all;
    color: #3C3C3C;
    padding: .5rem 0;
}

.card-body-txt {
    max-width: 400px;
    font-size: 16px;
    color: #3C3C3C;
    opacity: 0.8;
    text-align: left;
}

.card-footer {
    margin-top: 1.25rem;
}

.card-footer a, a.card-footer {
    font: normal;
    letter-spacing: 0px;
    color: #3C3C3C;
    opacity: 1;
    font-size: 16px;
    margin-left: .5rem;
    text-decoration: underline;
}

/* @media screen and  (max-width:1281px){
.gp-card{
    flex-basis: 48.5%;
}
} */
/* @media screen and  (max-width:768px){
.gp-card{
flex-basis: 100%;
}

} */

@media screen and (max-width:1707px) {


    .page-container {
        margin-top: 1.5rem;
    }

    .cards-container {
        gap: 0.8rem;
        justify-content: flex-start;
    }

    .card-icon {
        width: 38.4px !important;
        height: 38.4px !important;
        margin-top: 0.9rem !important;
        margin-bottom: 0.9rem !important;
    }

    .card-header .card-title {
        width: calc(100% - 80px);
        font-size: 16px !important;
    }

    .card-header .card-date {
        font-size: 12px !important;
    }

    .card-subtitle {
        font-size: 12px !important;
        max-width: 9.075rem;
    }

    .card-body .card-body-txt {
        font-size: 12px !important;
        overflow-y: auto;
    }

    .card-footer {
        margin-top: 0.75rem !important;
    }

    .card-footer img {
        width: 12px !important;
    }

    .card-footer a, a.card-footer, .card-footer span {
        font-size: 12px !important;
        margin-left: 0.5rem !important;
    }

    .card-info {
        margin: 0.9rem !important;
    }
}


@media only screen and (max-width:1024px) {
    .gp-card {
        flex-basis: calc(50% - 10px);
    }
    .previewbtn{
        display: none;
    }
}

@media only screen and (max-width:480px) {
    .gp-card {
        flex-basis: 100%;
    }
}