.range-container{
    min-width: none !important;
    width: 564px; ;
    display: flex;
    align-items: center;
}
.above-of-the-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 28px;
    flex-wrap: wrap;
    margin-top: 24px;
}
/*.filters-items{
    align-items: flex-end;
} */

 .filter-reset-imgs-container img{
    width: 3.4rem;
  }
  .slds-truncate{
      width: 100%;
      white-space: nowrap;
  }

  @media(max-width:1707px){
      .filter-icon img{
          width: 40px !important;
      }
      .slds-table tbody tr th:first-child{
          display: none;
      }
      .slds-truncate{
          white-space: nowrap !important;
          overflow: initial !important;
          margin-left: -5px !important;
      }
  }
  .NoColor{
    opacity: 0.7;
    border-radius: 0.75rem;
    width: 7rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
  .LightRed{
    background-color: rgb(255, 163, 26, 0.1);
    opacity: 0.7;
    border-radius: 0.75rem;
    width: 10rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFA31A;
    font-size: 10px;
  }
  .GreenColor{
    background-color: rgb(24, 238, 110, 0.1);
    opacity: 0.7;
    border-radius: 0.75rem;
    width: 10rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18EE6E;
    font-size: 10px;
  }
  .RedColor{
    background-color: rgb(238, 26, 37, 0.1);
    opacity: 0.7;
    border-radius: 0.75rem;
    width: auto;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EE1A25;
    font-size: 10px;
  }
  .BlueColor{
    background-color: rgba(36, 170, 89, 0.1);
    opacity: 0.7;
    border-radius: 0.75rem;
    width: 10rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #188eee;
    font-size: 8px;
  }
.manageInvoiceButton{
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
}