.close-btn {
    /* position: absolute; */
    /* top: 22px; */
    /* right: 22px; */
    background: #f7f8fa;
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 1.6rem;
    cursor: pointer;
    color: #35363a;
    box-shadow: 0 2px 12px rgba(16, 42, 67, 0.08);
    transition: background 0.2s;
}

.close-btn:hover {
    background: #e0e3eb;
}

.terms-page {
    /* padding-top: 10vh; */
    min-height: 100vh;

}

.xone{
    background:rgba(255, 0, 0, 0);
    margin:50px;
}
.aldar-forms-container{
      --sds-c-input-color-background: #060aff00;

    --sds-c-input-spacing-horizontal: 1rem;
    --sds-c-input-spacing-vertical: 0.5rem;
  --sds-c-input-radius-border: 7px;

  /* optional: border color, text color, etc. */
  --sds-c-input-color-border: #d4d4d4;
  --sds-c-input-color-text: #222;
}


.aldar-content-container {
    max-width: 1024px;
    padding: 1rem;
}


.save-btn{

 background-color: #eb6924;
    width: 100%;
    color: white !important;
    border-radius: 60px;
    border: none;
    padding: 12px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    margin-bottom:10px;
}

.cancel-btn{
background-color: #ffffff;
    width: 100%;
    color: rgb(35, 35, 35) !important;
    border-radius: 60px;
    border: 1px solid #eb692466;
    padding: 12px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    margin-bottom:10px;
}

.action-row{
    display: flex;
    flex-direction: column;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* dim effect */
    z-index: 9999; /* ensure it overlays everything */
    display: flex;
    justify-content: center;
    align-items: center;
}