.tabset-header{
    display: flex;
    flex-direction: column;
}
.custom-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tabset-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;

}
.title-container{
    display: flex;
    flex-direction: column;
}

.main-title{
    color: #3C3C3C;
    font-weight: bold;
    font-size: 20px;
}
.sub-title{
    color: #3C3C3C;
    font-size: 16px;
}

.sub-title span{
    font-weight: bold;
    font-size: 16px;
    
}

.info-label,
.card .label
{
    font-weight: bold;
}

.info-label,
.card .label{
    padding-right: 2rem;
}

.overview-container{
    background-color:#FFFFFF;
    border-radius: 12px;
    margin-top: 20px;
    padding: 24px;
    
    margin-bottom: 40px;
    box-shadow: 0px 5px 10px #00000026;
    border: 1px solid #B9B9B9;

}
.section-container .overview-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.first-one{
    margin-left: 4rem;
    margin-right: 4rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}
.lef-side,.middle-side,.right-side{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-basis: 30%;
    flex-wrap: wrap;

}



.section-title{
 
    height: 20px;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #3C3C3C;
    opacity: 1;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
   flex-wrap: wrap; 
    box-shadow: 0px 5px 10px #00000026;
border: 1px solid #B9B9B9;
flex-basis: 49.5%;
padding: 1rem;
border-radius: 0.75rem;
justify-content: space-between;
}

.card-item{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 50%;
}
.section-container{
    display:flex;flex-direction: column;margin-top: 1rem;
}
.upload-main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
  }

  .upload-row{
display: flex;
flex-direction: column;
margin-top: 35px;
  }

  .upload-label{
    width: 150px;
    max-width: 150px;
    display: flex;
    align-items: center;
  }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media screen and  (max-width:961px) {

    .steper-container{
        flex-direction: column !important;
    }
    .custom-row{
        flex-direction: column;
    }
}