.range-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    min-width: 588px;
}

.range-container p {
    font-size: 16px;
    margin-right: 16px;
    color: #3C3C3C;
    margin-left: 18.5px;
    margin-right: 36px;
}

.range-container lightning-combobox:nth-of-type(2) {
    margin-right: 8px;
}

.fillterIcon {
    color: white;
}

.range-container img {
    margin-left: 18px;
}

.show-hide-filters-items {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;

}

/* .filters-items{
    margin-bottom: 16px;
} */


.aldar-btn {

    margin-right: 16px;
    min-width: 175px;
    margin-right: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range-label-container {
    max-width: 150px;
}

.table-container {
    /*border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 5px;*/
    background-color: #f4f4f4;
}



.custom-table {
    border: 1px solid #e1e1e1;
}
.buttons-above-table-container button.aldar-btn {
    pointer-events: none;
    opacity: 0.5;
}
.buttons-above-table-container.active button.aldar-btn {
    pointer-events: visible;
    opacity: 1;
}

@media screen and (max-width:1707px) {

    .show-hide-filters-items {
        font-size: 0.7rem;
    }

    .range-label-container .area-label {

        margin-right: 80px !important;
    }

    .filters-item {
        width: 8.625rem;
    }

    .range-label-container {
        max-width: 114px !important;
    }

    th .slds-truncate {
        white-space: initial !important;
        word-break: break-word !important;
    }

}

/* For wider screens */




.pagination-container {
    margin: 10px;
}



.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*-------------- New CSS -------------------*/
.searchbtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbtns .aldar-input {
    margin-bottom: 0px;
}

.buttons-above-table-container {
    margin-top: 15px;
    margin-bottom: 10px;
}

.filters-container .slds-accordion__section {
    padding: 5px;
}

.searchbtns.topsearch {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.searchbtns.topsearch .inner_div_filter {
    width: 24%;
}

.searchbtns.topsearch .inner_div_filter lightning-input.aldar-input.input-with-search-icon.filters-item.unitFilters.slds-form-element,
.searchbtns.topsearch .inner_div_filter lightning-combobox.aldar-combo-box.with-property-icon.filters-item.slds-form-element {
    min-width: 100% !important;
    margin: 0 !important;
    width: 100% !important;
}

.buttons-above-table-container button.aldar-btn:last-child {
    margin: 0;
}

.rang_div {
    position: absolute;
    display: flex;
    top: 74px;
    width: 46.25%;
}
.searchbtns.topsearch lightning-combobox.aldar-combo-box button.slds-combobox__input {
    border: none!important;
}
.rang_div .rangefilter .range-wrapper {
    min-width: 100% !important;
    margin: 0 !important;
    max-width: 100% !important;
}
.rang_div .rangefilter .range-wrapper lightning-input.aldar-input.input-with-search-icon input.slds-input{
    border: none!important;
}

.rang_div .rangefilter .range-wrapper .range-container.latest-filters-item {
    min-width: 100% !important;
    margin: 0 !important;
    max-width: 100% !important;
    display: flex;
    gap: 1rem;
}

.rang_div .rangefilter .range-wrapper .range-container.latest-filters-item .range-label-container {
    width: 115px;
}

.range-container.latest-filters-item .rand_maindiv {
    width: calc(100% - 120px);
}

@media(max-width:1024px) {
    .filters-items {
        flex-wrap: wrap;
    }

    .filters-item {
        width: 11.625rem;
    }
}

@media only screen and (max-width:992px) {
    .rang_div {
        position: relative;
        top: inherit;
        width: 100%;
        margin-top: 1rem;
    }

    .searchbtns.topsearch {
        flex-direction: revert;
    }

    .range-container.latest-filters-item .rand_maindiv {
        width: auto;
    }

    .searchbtns.topsearch .inner_div_filter {
        width: 50%;
    }
}

@media (max-width:860px) {
    .searchbtns {
        flex-direction: column;
        align-items: flex-start;
    }

    .searchbtns .aldar-input {
        margin-top: 10px;
    }
}
@media only screen and (max-width:480px) {
    .searchbtns.topsearch {
    flex-wrap: wrap;
}
.searchbtns.topsearch .inner_div_filter {
    width: 37%!important;
}
.searchbtns.topsearch .inner_div_filter:last-child {
    width: 100%!important;
}
}