.xx_confirm_open {
    background: #2e2d2d;
}
.xx_m-right-large {
    margin-right: 17%;
}

.xx_m-left-large {
    margin-left: 17%;
}

.xx_actionbuttons {
    min-width: 180px;
}
.xx_cancel {
    margin-right: 24px;
}