.page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn__manage-cases button{
    min-width: 148px;
    border: 1px solid #000001;
    box-shadow: 0px 3px 5px #0000001A;

}
.btn__manage-cases button:first-child{
    margin-right: 16px;
}
.upload-main-container{
    display: flex;
    flex-direction: column;
}
/*------------------ Grid Table View Css -----------------------*/
.gridtable thead{
    display: none;
}
.gridtable tbody tr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 5px;
    position: relative;
    padding-bottom: 34px;
}
.gridtable tbody td:first-child {
    width: 32px !important;
    min-width: 30px !important;
}
.gridtable tbody td.custom-table-icon.view-icon {
    width: 100% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 10px;
    min-height: auto !important;
    background: lightgrey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}