.aldar-custom-input-container {
    display: inline-block;
    padding: 0.1875rem;
    width: 100%;
   
    background-color: inherit;
    border-radius: 0.5rem;
  
  }
  .aldar-custom-textarea-container{
height: unset;
  }
  label.aldar-custom-label {
    display: block;
    font-size: 0.75rem;
    opacity: 1;
    color: #3C3C3C;
    padding-left: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  input.aldar-custom-input,textarea.aldar-custom-textarea {
    outline: none;
    display:block;
    line-height: 1.2em;
    font-size: 12px;
    padding:0.7rem 1rem;
    width: 100%;
    border-radius: 0rem;
    border: 1px solid #ccc;
  }

  textarea.aldar-custom-textarea {
    resize: none;
  }

 .aldar-btn{
    width: 11.25rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
 }

 .btn-container{
     display: flex;
     justify-content: flex-end;
 }