.regheader{
	padding: 0px;
	min-width: 100px;
}
.logo{
    margin-top: 30px;
    float: right;
}
.logo img{
	width: 70px;
}
.page_title{
	font-family: "Poppins", sans-serif !important;
	font-size: 30px !important;
	font-weight: 800;
	line-height: 45px;
	letter-spacing: 0.05em;
	text-align: left;
	text-transform: uppercase;
	margin-top: 30px;
}
.main_outer{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-right: 260px;
}
.form_box{
	padding: 0 100px 40px 40px;
}
.contact{
	background: #D7D2CB;
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
	padding: 20px 20px 0 20px;
	text-align: right;
	float: right;
	max-width: 143px;
	/*position: relative;*/
	position: absolute;
    right: 0;
    bottom: 20px;
}
.contact p{
	color: #003057;
	text-align: right;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.8px;
}
.contact p strong{
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.7px;
	width: 100%;
	display: inline-block;
}
.checkbox{
	margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
}
.checkbox input{
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 6px;
}
.borderview{
	border:1px solid #ccc;
	padding: 20px;
}

/* Success msg css */
.successmsg{
	text-align: center;
}
.successmsg h1{
	color: #000;
	text-align: center;
	font-size: 30px !important;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.5px;
}
.lead{
	color: #000;
	text-align: center;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.8px;
}
.lead .btn{
	min-width: 195px;
	height: 52px;
	padding: 15px 0px !important;
	align-items: center;
	background: #69B3E7;
	color: #fff;
	border: 0px;
	border-radius: 0px;
}
.lead2 {
	padding: 10px;
}
.tickimg{
	display: inline-block;
	margin: 40px 0 10px 0;
}



.scrollableContent {
    max-height: 5000px;
    overflow-y: auto;
}

/* Styles for the modal */
.slds-modal {
    position: fixed;
    z-index: 9999;
    width: 40rem; /* Adjust width as needed */
    max-width: 90%; /* Maximum width of the modal */
    left: 50%;
    top:45%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}

.slds-modal__content {
    padding: 1rem;
}

/* Backdrop styles */
.slds-backdrop {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.slds-modal__container{
	    width: 100%;
		background: transparent;
    padding: 0px;
	    height: 450px;
}
.termpopup h4{
	font-size: 20px;
	font-weight: bold;
}
.termpopup ul{
	list-style: disc;
    padding-left: 20px;
}
.termpopup li{
	font-size: 16px;

}
.darkbtn{
	background: #000;
    color: #fff;
	border: 0px;
	width: 138px;
	height: 40px;
}
.slds-modal__title{
	text-align: left;
	font-weight: bold;
	    margin: 0px;
}
.slds-modal__header{
	padding: 12px;
}
iframe.capthaiframe {
    border: 0;
    min-height: 280px;
	width:340px;
}

/* multiselct */
.multi-select-container {
    position: relative;
    width: 100%;
}
/* .selected {
    background-color: #d9e9ff !important;
    font-weight: 600;
} */
.multi-select-display {
    border: 1px solid #d8d8d8;
    /* border-radius: 4px; */
    background: transparent;
    cursor: pointer;

    /* MATCH lightning-combobox */
    height: 50px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    line-height: 1.25rem;
}
.multi-select-display.disabled {
  pointer-events: none; /* blocks mouse events */
  opacity: 0.6;
  cursor: default;
}
.dropdown {
    position: absolute;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border-radius: 4px;
    margin-top: 4px;
    z-index: 999;
}

.option {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.verticalLabelColor {
color:#747474;
}
.option.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.option:hover {
    background-color: #f2f5ff;
}

.option.selected {
    background-color: #dceaff;
    font-weight: 600;
}

.check-icon {
    margin-right: 8px;
    color: #1b5fba; /* Aldar blue tone */
}

.label {
    display: inline-block;
}

.error-message {
    color: red;
    margin-top: 4px;
    font-size: 0.85rem;
}