.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    background: linear-gradient(white 70%, rgb(17, 18, 18) 50%);
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    position: relative; /* Make the container a positioned element */
}

.header-text {
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(31, 174, 167, 0.806);
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-top: 15px;
}

.bonus-image {
    position: absolute;
    top: 10px;
    right: -6px;
    width: 100px; 
    height: auto;
    
}