.custom-container{
	color : black;
}

.section-header {
    background-color: #f2f2f2; 
    padding: 16px;            
    margin-bottom: 12px;     
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
}

.main-content {
    padding: 16px;
    background-color: white;
    border-radius: 6px;
}