.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 48px;
}
.left-side{
    margin-right: 24px;
}
.left-side,.right-side{
    flex-basis: 50%;
}

  .slds-modal__header{
    display: flex;
    height: auto;
  }
  .slds-text-heading_medium.slds-hyphenate{
    color: #3C3C3C;
    font-size: 25px;
    font-weight: bold;
  }

  .aldar-btn{
    width: 180px;
    height: 48px;
    align-items: center;
  }

  .aldar-input{
    width: 100%;
  }