.page-container{
    padding-left: unset;
    padding-right: unset;

}
.row{
    display: flex;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-wrap: wrap;
}
.row1{
    margin-bottom: 80px;
    margin-top: 56px;
    display: flex;
    
}


.row1 .left-side{
flex-basis: 40%;
margin-right:4rem ;
}
.row1 .right-side{
    flex-basis: 50%;
}


.row1 .info-container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.row1 .title p{
color: #3C3C3C;
font-size: 24px;
font-weight: bold;
padding-bottom: 17px;
max-width: 210px;
word-wrap: break-word;
}


.row1 .body p{
font-size: 18px;
color: #3C3C3C;
max-width: 60.25rem;
word-wrap: break-word;
padding-bottom: 2rem;
}

.row1  .kpis-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
gap: 1rem;
margin-top: 56px;
}
.kpi-card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
width: 17.6875rem;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #00000026;
border: 1px solid #B9B9B9;
border-radius: 12px;
opacity: 1;
   

}


.kpi-card .value{
    max-width: 282px;;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    max-width: 200px;
    word-wrap: break-word;
}

.kpi-card .title{
    font-size: 16px;
    color: #2C2C2C;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.row2 .left-side{
    flex-basis: 50%;
margin-right: 7.625rem;
}

.row2 .right-side{
    flex-basis: 40%;
}

.info-container .title p{
max-width: 18.75rem;
word-wrap: break-word;
font-size: 1.5rem;
font-weight: bold;
color: #3C3C3C;
padding-bottom: 1.0625rem;
}

.info-container .body p{
    max-width: 58.125rem;
word-wrap: break-word;
font-size: 1.125rem;

color: #3C3C3C;
padding-bottom: 1.0625rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 6px;
column-gap: 1rem;
}

.info-card{
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #00000026;
border: 1px solid #B9B9B9;
border-radius: 12px;
opacity: 1;
padding: 1rem;



}

.info-card .txt{
    color: #2C2C2C;
    font-size: 1rem;
    max-width: 164px;
    word-wrap: break-word;
}

.info-card .icon{
    padding-right: 1rem;
}

video{
    border-radius: 12px;
    max-width: 750px;
   
}

.video-container{
    width: 100%;
}


@media screen and  (max-width:961px){}

@media screen and  (max-width:768px){
    .row1 .right-side, .row1 .left-side,
    .row2 .right-side, .row2 .left-side
    {
        flex-basis: 100%;
    }
    video{
        
        width: 100%;
       
    }
    .row1 .left-side,
    .row2 .left-side
    {
        margin-right: 0;
    }
   
}
@media screen and  (max-width:641px){
.kpis-container{
    justify-content: center;
}
    .row{
        padding-left: unset;
        padding-right: unset;
    }
}

@media(min-width:1200px){
    .video-container video{
        max-width: auto !important;
        width: 440px;
    }
    .info-container .title p{
        font-size: 1rem;
    }
    .info-container  .body p{
        font-size: 12px;
        max-height: 133px;
        overflow-y: auto;
    }
    .kpi-card  .value{
        font-size: 1rem !important;
    }
    .kpis-container{
        margin-top: 20px !important;
    }
    .row2{
        justify-content: nowrap;
    }
    .info-card .icon {
        width: 35px;
    }
    .info-card .txt{
        font-size: 0.8rem;
    }
    .row2 .left-side{
        flex-basis: 45%;
    }
}