.aldar-btn{
  width: 11.125rem;  
height: 2.5rem;
}

.table-container{
 padding-left: 2.5rem;
 padding-right: 2.5rem;   
}

.buttons-above-table-container{
    padding-left: 2.5rem;
    padding-right: 2.5rem;     
}