.labelstyle {
  font-weight: bold;
}

.uploaded-file-names-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-end;
}

.uploaded-file-icon{
  margin-right: 8px;
}

.uploaded-file-name-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 0px;
  color: #3C3C3C;
  opacity: 1;
  padding-bottom: 8px;
  max-width: 150px;
  overflow: auto;
   
}

.uploaded-file-item{
  display: flex;
  flex-direction: row;
}

.remove-file-wrapper{
  display: flex;
}