.noDataFound{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-noData {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #444;
    border-radius: 50% !important;
}
.image-noData svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    width: 20px !important;
}
.noDataFound h2{
    margin:1rem 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}