@font-face {
    font-family: "Glyphter Font";
    src: url('/resource/GlyphterFont/Glyphterfont/Glyphterfont.ttf');
  }
  .slds-button_icon_Glyphter_white{
      background-color: var(--sds-c-button-brand-color-background, #ffffff);
      background: #ffffff;
      border-color: #ffffff;
      color: rgb(0, 0, 0);
      height: 50 px;
      width: 50px;
      padding: 4px;
      display: inline;
      margin: 4px;
      border-radius: 0pt;
      font-family: "Glyphter Font";
    }
  
    .slds-button_icon_Glyphter{
      background-color: var(--sds-c-button-brand-color-background, #000000);
      background: #000000;
      border-color: #000000;
      color: rgb(255, 255, 255);
      height: 70 px;
      width:  50px;
      padding: 4px;
      display: inline;
      margin: 4px;
      border-radius: 15pt;
      font-family: "Glyphter Font";
    }