.filter-icon,
.reset-icon {
    cursor: pointer;
}

.heading {
    font: normal normal bold 20px/24px Muller;
    letter-spacing: 0px;
    color: #3C3C3C;
    font-size: 20px;

}

.footer-item-value.price::before {
    content: "AED";
    left: 0;
    margin-right: 5px;
}
.footer-item-value.UKprice::before {
    content: "GBP";
    left: 0;
    margin-right: 5px;
}

.aldar-card {
    flex: unset;
    flex-basis: 47%;
    max-width: unset;
}

.gallery-container.gallery_div {
    grid-gap: 4rem;
    margin-top: 3rem;
}

.gallery-container.gallery_div .aldar-card {
    margin: 0;
}

.gallery-container.gallery_div .aldar-card {
    margin: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
}

.image-side.pro_image-side {
    width: 40% !important;
    height: 100%;
    /* background-size: auto; */
    background-position: center;
    margin-left: -3rem;
    margin-top: -3rem;
}

.pro_info-side {
    width: 70% !important;
    position: relative;
}

.Pro_name {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.Pro_sub_title {
    font-size: 14px;
    color: #555;
    padding: 5px 0;
}

.short_desc {
    color: #3c3c3c;
    opacity: .8;
    font-size: 14px;
    /* min-height: 150px; */
    /* max-height: 150px; */
    overflow: auto;
    /* margin-bottom: 5rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.info-footer.footer_div_info {
    position: relative;
    /* bottom: 0; */
    /* left: 0; */
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-start;
    margin-top: 1rem;
}

.info-footer.footer_div_info .footer-item.foo_item {
    width: 48%;
}

.footer-item.foo_item span.footer-item-label {
    font-size: 10px;
    opacity: .6;
    font-weight: 600;
}

.footer-item.foo_item span.footer-item-value.price,
.footer-item.foo_item span.footer-item-value.UKprice
.footer-item.foo_item span.footer-item-value,
.footer-item.foo_item a.footer-item-value {
    font-size: 12px !important;
    opacity: 1;
    font-weight: bold;
}

.above-gallery-container {
    padding: 1rem 0;
}

.photos-count-container.view_images {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: auto;
    width: auto;
    font-size: 12px !important;
    backdrop-filter: none;
    padding: 5px;
    min-width: 140px;
}

.hot-property.newhot,
.newly-launched-flag.new_launched {
    position: absolute !important;
    top: -1rem !important;
    left: -1rem !important;
    padding: 2px 5px !important;
    text-align: center !important;
}

.view_main_prop {
    padding: 0 5rem;
}

.xx_createlead-container {
    bottom: 80px;
    right: 30px;
    position: fixed;
    white-space: nowrap;
    display: block;
    z-index: 99;
  }

  .xx_leadAnchor {
    color: white;
    border-radius: 30px;
    padding: 13px 30px;
    background: #e45205;
    cursor: pointer;
  }

@media only screen and (max-width:1200px) {
    .gallery-container.gallery_div .aldar-card {
        flex-wrap: wrap;
        border:none !important;
        box-shadow: 0 5px 30px 0 rgba(0,0,0,.1);
    }

    .image-side.pro_image-side {
        width: 100% !important;
        background-size: 100%;
        height: 250px;
    }

    .gallery-container.gallery_div .pro_info-side {
        width: 100% !important;
    }

    .gallery-container.gallery_div .aldar-card {
        max-width: none;
        background: #fff;
        flex-basis: 49%;
    }

    /* .page-container.container, .filters-container.container {
        padding: 1rem;
    } */
    .sold-out-flag.soldout img {
        width: 100% !important;
        height: 100% !important;
    }

    .image-side.pro_image-side {
        margin-left: 0rem;
        margin-top: 0rem;
    }

    .gallery-container.gallery_div {
        grid-gap: 1rem;
        margin-top: 0rem;
    }

    .view_main_prop {
        padding: 0 2rem;
    }
}

@media only screen and (max-width:992px) {
    .gallery-container.gallery_div .aldar-card {
        flex-basis: 48.5%;
    }
}

@media only screen and (max-width:768px) {
    .image-side.pro_image-side {
        height: 200px;
    }
}

@media only screen and (max-width:480px) {
    .page-container.container {
        margin: 0;
    }

    .info-footer.footer_div_info {
        position: relative;
        display: block;
    }

    .footer-item.foo_item {
        width: 100% !important;
        margin: 0.5rem 0;
    }

    .view_main_prop {
        padding: 0 1rem;
    }

    
}