.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* dim effect */
    z-index: 9999; /* ensure it overlays everything */
    display: flex;
    justify-content: center;
    align-items: center;
}