.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 25, 25, 0.9);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background: rgba(25, 25, 25, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(25, 25, 25, 0.9);
    max-width: 90%;
}

.message {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-weight: bold;
}

.messageDescription {
    color: #FFFFFF;
}

.close-btn {
    background-color: #FFA629;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
}