.page-main-container{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    }
    
    .overview-container{
        background-color:#FFFFFF;
        border-radius: 12px;
        margin-top: 40px;
        padding: 24px;
        margin-bottom: 40px;
    }
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    .lef-side,.middle-side,.right-side{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-basis: 30%;
    
    }
    
    .info-lable{
        text-align: left;
    letter-spacing: 0px;
    color: #3C3C3C;
    opacity: 0.7;
    font-size: 14px;
    
    max-width: 140px;
    word-break: break-all;
    flex-basis: 50%;;
    }
    
    .info-value{
        text-align: left;
    
    letter-spacing: 0px;
    color: #3C3C3C;
    opacity: 1;
    font-size: 14px;
    max-width: 240px;
    word-break: break-all;
    flex-basis: 50%;
    font-weight: bold;
    }
    
    .section-title{
        width: 89px;
        height: 20px;
        /* UI Properties */
        text-align: left;
        letter-spacing: 0px;
        color: #3C3C3C;
        opacity: 1;
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: bold;
    }
    
    .list-title{
        font-weight: bold;
        font-size: 20px;
    }
    
    .add-lead-btn{
        min-height: 40px;
        min-width: 180px;
        align-items: center;
    }

    .table-title{
        color: #3C3C3C;
        font-size: 14px !important;
        font-weight: bold;
        margin-bottom: 38px;
    }