div{
    background-color: #f30b0b;
    height: 4em;
    vertical-align: middle;    
    width: 100% !important;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 1em;    
    border-radius: 5px;
}