.custom-container{
	color : black;
}
.btomMrgn{
	  margin-bottom: 10px;	
}
.my-custUnitCard {
    display: block;
    padding:10px;
    padding-left:3px;
    margin-top:-20px;
	
}
.slds-button-icon {
    width: 3rem; 
    height: 3rem; 
    padding: 0.5rem;
}
.slds-size_1-of-4
{
    padding:5px;
    display: inline-flex;
    align-items: center;
    
}
.filter-container
{
    
}

.unitDatatable
{
    
}
.slds-card__header{
}