.page-container{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}
.filters-items{
    padding-bottom: 24px;
}
.left-side{
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    flex-basis: 20%;
    width: 100%;
}
.right-side{
    flex-basis: 78%;
    width: 100%;
}



.collapsible {
    background: #E6E7E8 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 46px;
    margin-bottom: 1rem;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  


  .navigation-container{
      width: 430px;
      background-color: white;
      box-shadow: 0px 5px 15px #0000001A;
border-radius: 12px;
opacity: 1;

  }

  li{
      height: 55px;
      display: flex;
      padding: 24px;
      cursor: pointer;
  }


  li .title-txt{
     color: #000000; 
     font-size: 16px;
  }
  li .icon-container{
      /* padding: 24px 16px 24px 24px; */
      display: flex;
      align-items: center;
  }


  .title{
      display: flex;
      align-items: center;
  }


  .questions-and-answers{
      background-color: white;
      border-radius: 12px;
  }

.question{
padding: 24px;
color: #3C3C3C;
font-weight: bold;
font-size: 16px;
  }

  .answer{
    letter-spacing: 0px;
    color: #3C3C3C;
    opacity: 1;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 10px;
  }

  .questions-and-answers{
      position: relative;
  }
  .seperate-line{
      display:block ;
      border-top: 2px solid #ccc;
      width:90%;margin-left: 5%;
      margin-top: 1rem;
     
  }

  .questions-and-answers-container{
      margin-top: 1.5rem;
      box-shadow: 0px 5px 15px #0000001A;
border-radius: 12px;
background-color: white;
  }



  .clicked-item{
      background-color: #F5F5F5;
  }
  

  @media screen and  (max-width:961px){
      .page-container{
          flex-direction: column;
      }
      .left-side{
          align-items: center;
      }
      .left-side,.right-side{
          margin-top: .5rem;
      }

  }

  @media screen and  (max-width:641px){
    .navigation-container{width: 100%;}
  }

  @media(max-width:1707px){
      .question{
          font-size: 13px;
      }
      .answer{
          font-size:11px;
      }
      .slds-accordion__summary-action{
          font-size: 13px;
      }
      .navigation-container .title-txt{
          font-size: 13px;
          margin-left: 5px;
      }
      .questions-and-answers-container{
          margin-top: 0.6rem;
          width: calc(100% + 24px);
          margin-left: -12px;
      }
      
  }
  @media(min-width:1200px){
      .slds-accordion__content{
        width:calc(100% + 24px);
        margin-left: -12px;
      }
      .slds-accordion__summary-content{
          font-size: 13px !important;
      }
  }