.mySlides {

  display: none;

}

.sub-slide-show-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sub-slide-show-container .prev {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin-right: 3.4375rem;
  border-radius: 0%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0rem;
  line-height: 10px;
  text-decoration: none;
  margin: 0 !important;
  background: #000;
  color: #fff;
  z-index: 1;
  top: 50%;
  left: 1rem;
}

.sub-slide-show-container .next {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin-left: 3.4375rem;
  border-radius: 0%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0rem;
  line-height: 10px;
  text-decoration: none;
  margin: 0 !important;
  background: #000;
  color: #fff;
  z-index: 1;
  top: 50%;
  right: 1rem;
}

/*img.slide-show-image{
    height: 20rem;
    vertical-align: middle;
    padding: 1.5rem;
    border-radius: 40px;
}*/

/* Slideshow container */
.slideshow-container {
  /*max-width: 1200px;
  min-height: 676px;*/

  position: relative;
  width: 100%;
  flex: 1 0 auto;
  background-color: transparent;
  border-radius: 12px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;


  width: auto;
  padding: 16px;

  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slide-show-body {
  color: #f2f2f2;
  font-size: 15px;
  padding: 1.5rem;
  position: absolute;
  bottom: 8px;
  min-height: 350px;
  width: 100%;
  text-align: left;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Number text (1/3 etc) */
.numbertext {
  position: relative;
  font: normal normal normal 16px/19px Muller;
  letter-spacing: 0px;
  color: #3C3C3C;
  opacity: 1;
  font-size: 0.8rem !important;
  padding: 1rem 0 0 2.5rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



.slide-show-body {
  display: flex;
  flex-direction: column;
}

.slide-show-body-title {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.75rem;
}

.slide-show-body-title p {
  color: #3C3C3C;
  font-size: 1.25rem;
  font-weight: bold;
}


.slide-show-body-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.description-txt p {
  font-size: 14px;
  color: #707070;
  /*word-break: break-all;*/
  word-wrap: break-word;
}



.description-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.description-footer .footer-card {
  display: flex;
  box-shadow: 0rem 0.3125rem 0.9375rem #0000001A;
  border-radius: 0.75rem;
  opacity: 1;
  height: auto;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1rem;
  width: 48%;
  flex-direction: column;
}

.inner_div_card {
  display: flex;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.inner_div_card a {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: block;
}

.footer-card .title {
  color: #3C3C3C;
  font-size: 1rem;
  font-weight: bold;
}

.responsive-prev,
.responsive-next {
  display: none;
}

/* Next & previous buttons */
.responsive-prev,
.responsive-next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;

  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.responsive-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.responsive-prev:hover,
.responsive-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}





/* On hover, add a black background color with a little bit see-through */
.responsive-prev:hover,
.responsive-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.images_pro_div {
  width: 50%;
  position: relative;
}

.slide-show-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  padding: 4rem 3rem 0 0;
  background: transparent;
}

.description-card img {
  filter: invert(1);
}

.description-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  position: absolute;
  top: 0.5rem;
  left: -2.65rem;
  background: #000;
  padding: 0.5rem 1rem;
  border-radius: 0 10px 0 0;
}

.description-card .body {
  display: flex;
  gap: 0.5rem;
}

.images_pro_div img {
  width: 88%;
  margin: 0 6%;
}

@media only screen and (max-width:992px) {
  .mySlides {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .images_pro_div {
    width: 100%;
    position: relative;
  }

  .images_pro_div img {
    width: 50%;
    margin: 0 25%;
  }

  .slide-show-body {
    width: 100%;
    padding: 4rem 1rem;
  }

  .description-card {
    left: 0;
  }
}

@media only screen and (max-width:480px) {
  .images_pro_div img {
    width: 100%;
    margin: 0%;
  }

  .sub-slide-show-container .next {
    right: 0;
  }

  .sub-slide-show-container .prev {
    left: 0;
  }
  .description-footer .footer-card {
    width: 100%;
  }
}