.range-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    min-width: 588px;
}

.range-container p {
    font-size: 16px;
    margin-right: 16px;
    color: #3C3C3C;
    margin-left: 18.5px;
    margin-right: 36px;
}

.range-container lightning-combobox:nth-of-type(2) {
    margin-right: 8px;

}

.range-container img {
    margin-left: 18px;
}

.show-hide-filters-items {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;

}

/* .filters-items{
    margin-bottom: 16px;
} */


.aldar-btn {

    margin-right: 16px;
    min-width: 175px;
    margin-right: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range-label-container {
    max-width: 150px;
}

.table-container {
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
}



.custom-table {
    border: 1px solid #e1e1e1;
}


@media screen and (max-width:1707px) {

    .show-hide-filters-items {
        font-size: 0.7rem;
    }

    .range-label-container .area-label {

        margin-right: 80px !important;
    }

    .filters-item {
        width: 8.625rem;
    }

    .range-label-container {
        max-width: 114px !important;
    }

    th .slds-truncate {
        white-space: initial !important;
        word-break: break-word !important;
    }

}

/* For wider screens */




.pagination-container {
    margin: 10px;
}



.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*-------------- New CSS -------------------*/
.searchbtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbtns .aldar-input {
    margin-bottom: 0px;
}

.buttons-above-table-container {
    margin-top: 15px;
    margin-bottom: 10px;
}

.filters-container .slds-accordion__section {
    padding: 5px;
}

.steper-container {
    padding: 1.5rem 2.5rem 0;
}

.stepper-title-container {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

@media(max-width:1024px) {
    .filters-items {
        flex-wrap: wrap;
    }

    .filters-item {
        width: 11.625rem;
    }
}

@media (max-width:860px) {
    .searchbtns {
        flex-direction: column;
        align-items: flex-start;
    }

    .searchbtns .aldar-input {
        margin-top: 10px;
    }
}

@media only screen and (max-width:768px) {
    .steper-container {
        padding: 1rem;
    }
}